header{
    display: flex;
    justify-content: center;
    background-color: rgb(247, 247, 247);
}
.nav > a{
    text-decoration: none;
    color: black;
}
.nav{
    color: aliceblue;
    display: inline-block;
    margin:2% auto;
    position:sticky;
    top:2px;
}
.tags{
    font-family:Arial, Helvetica, sans-serif;
    border-radius:5px;
    padding:6px 7px;
    transition: all 0.2s ease-in-out;
}
.tags:hover{
    /* border:none; */
    color:white;
    background-color: #2b7a0b;
}

.search-input {
    height: 20px;
    border-radius: 5px;
    padding-left: 15px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
}

.product-item {
    margin: 30px;
    text-align: center;
    box-shadow: 0px 1px 10px 3px #a2a2a7;
    border-radius: 10px;
    cursor: pointer;
}
img{
    border-radius: 10px;
}
.product-item img div {
    border-radius: 10px;
}
.product-img {
    height: 300px;
    width: 300px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
}

.product-title {
    width: 100px;
    text-align: left;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 20px 5px 20px;
}

.product-price {
    width: 100px;
    text-align: right;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0 20px 5px 20px;
    color: #db9513;
}

.product-title:hover {
    color: #db9513;
    text-decoration: underline;
    cursor: pointer;
}

.product-text {
    margin-bottom: 15px;
}
