body{
    background-image: url('salonPic.jfif') ;
    background-size: cover;
    background-repeat: no-repeat;
}
.symbol{
    color: aliceblue;
    padding: 35px;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.nav{
    color: aliceblue;
    /* border: 2px solid black; */
    box-sizing: border-box;
    width: 25cm ;
    margin: 1cm auto ;
    position:sticky;
    top:2px;
}

.tags:hover{
    color: rgb(20, 255, 122);
}

.btn-ani
{
  background-color: #023403; /* Green */
  margin-left: 700px;
  margin-top: 100px;
  border: none;
  color: rgb(247, 247, 247);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  border-radius: 25px;
  border-bottom: 3px solid rgb(13, 225, 27);
  mix-blend-mode:hard-light;
}

.btn-ani:hover{
    padding: 15px 25px 15px;
    transition: 0.5s ease;
    box-shadow: 0 8px 5px rgba(255, 255, 255, 0.462);

}
.btn{
    color: white;
    margin-left: 106px;
    height: 0.8cm;
    width: 5cm;
    font-size: 16px ;
    font-weight: 700;
    background-color: rgb(38, 62, 6);
    border: double rgb(116, 118, 113) 2px;
    border-radius: 15px;
    box-shadow: 5px;

}
.btn:hover{
    background-color: rgb(10, 176, 82) ;
}
.title{
    font-family: 'Lobster', cursive;
    color: aliceblue;
    font-weight: 900;
    font-size: 110px;
    width: 9cm;
    margin: auto;
    
    
}
.tagline{
    font-family: 'Gorditas', cursive;
    color: #eaf3d5;
    display:block;
    margin:auto;
    text-align: center;
    font-size: 31px;
}
